<header class="header">
  <div class="header-logo-text" (click)="goToHome()">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <span class="header-text">CHOLLO A 100</span>
  </div>

  <div class="auth-buttons">
    <button class="auth-button" (click)="navigateBasedOnAuthStatus()">
      {{ isAuthenticated() ? 'Perfil personal' : 'Iniciar sesión' }}
    </button>
    <button *ngIf="isAuthenticated()" class="logout-button" (click)="onLogout()">
      Cerrar sesión
    </button>
  </div>
</header>



