<!--<div>
  <button (click)="navigateBasedOnAuthStatus()">
    {{ isAuthenticated() ? 'Perfil personal' : 'Iniciar sesión' }}
  </button>
</div>-->


<button (click)="onLogout()">Cerrar sesión</button>

<hr>

<!-- Input para el buscador de chollos por título -->
<div>
  <input [(ngModel)]="searchTitle" type="text" placeholder="Buscar chollo por título" />
  <button (click)="searchChollo()">Buscar</button>
</div>
<p></p>

<div *ngIf="chollos.length > 0; else noChollos">
  <h2>Chollos de Usuario</h2>
  <ul>
    <li *ngFor="let chollo of chollos">
      <h3>{{ chollo.titulo }}</h3>
      <p>Precio: {{ chollo.precio }} €</p>
      <p>{{ chollo.descripcion }}</p>
      <div *ngFor="let image of chollo.images">
        <img [src]="image" alt="Imagen de {{ chollo.titulo }}" style="width: 100px; height: auto;" />
      </div>
    </li>
  </ul>
</div>

<ng-template #noChollos>
  <p>No hay chollos disponibles para este usuario.</p>
</ng-template>
