<form (ngSubmit)="update()" [formGroup]="myForm" class="login100-form" autocomplete="off">
  <span class="login100-form-title p-b-49"> Actualizar chollo </span>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Titulo</span>
    <input formControlName="titulo" [(ngModel)]="titulo" class="input100" type="text" placeholder="Ingrese el título del chollo" />
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100">
    <span class="label-input100">Precio</span>
    <input formControlName="precio" [(ngModel)]="precio" class="input100" type="number" placeholder="Ingrese el precio del chollo" />
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100">
    <span class="label-input100">Enlace</span>
    <input formControlName="enlace" [(ngModel)]="enlace" class="input100" type="text" placeholder="Ingrese el enlace del chollo" />
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100">
    <span class="label-input100">Descripción</span>
    <input formControlName="descripcion" [(ngModel)]="descripcion" class="input100" type="text" placeholder="Ingrese la descripción del chollo" />
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100">
    <span class="label-input100">Imágenes</span>
    <input formControlName="images" [(ngModel)]="images" class="input100" type="text" placeholder="Ingrese la imagen" />
    <span class="focus-input100"></span>
  </div>

  <div class="text-right p-t-8 p-b-31"></div>

  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button [disabled]="myForm.invalid" class="login100-form-btn" type="submit"> Actualizar chollo </button>
    </div>
  </div>
</form>
